body {
	background-color: #f5f5f5;
	font-family: Arial, sans-serif;
	margin: 0;
	padding: 0;
}

h1 {
	text-align: center;
	margin-top: 50px;
}

p {
	text-align: center;
	margin-top: 20px;
}

.form {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: 20px;
}

input[type="text"] {
	padding: 10px;
	border: 1px solid #ccc;
	border-radius: 5px;
}

button {
	padding: 10px;
	background-color: #4CAF50;
	color: white;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	margin-left: 10px;
}

.result {
	text-align: center;
	margin-top: 20px;
	font-weight: bold;
	font-size: 24px;
	color: #4CAF50;
}
